
* {
  box-sizing: border-box;
}

body {
  margin: 0;

    background-color: #FFFAF0;
}




.topnav {
  overflow: hidden;
  background-color: #LightSkyBlue;
}


.topnav a {
  float: left;
  display: block;
  color: #Green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #LightSkyBlue;
  color: Green;
}

h1 { color: Green; text-align: center; 
 font-family: Helvetica, sans-serif; 
 font-size: 100px; 
 background: #ADD8E6;
}

p { color: Green; 
   text-align: center; 
   font-family: Helvetica, sans-serif; 
   font-size: 35px; 
  }

h5 { color: Green; 
   text-align: center; 
   font-family: Helvetica, sans-serif; 
   font-size: 45px; 
  }

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 75em;
}
