
body {   
  background-color: #FFFAF0; 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1 { color: Green; text-align: center; 
 font-family: Helvetica, sans-serif; 
 font-size: 100px; 
 background: #ADD8E6;
}

p { color: Green; 
   text-align: center; 
   font-family: Helvetica, sans-serif; 
   font-size: 35px; 
  }


h5 { color: Green; 
   text-align: center; 
   font-family: Helvetica, sans-serif; 
   font-size: 45px; 
  }


.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 80em;
}

